@import url(./colors.css);

body{margin:0; padding:0; 
    background-color: var(--main-bluegrey);
}

/* header section */
.navbar {
    position: fixed;  /* stay visible when scrolled */
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: var(--main-grey);
}

.navbar a{
    display: inline-block;
    font-size: 23px;
    color: white;
    text-align: center;
    padding: 20px;  /* 3vh 2vw */
    text-decoration: none;
}

.navbar li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: var(--main-gamboge);
}


/* Main section: thoughts and reads */
#quotes{
    width: 70%; 
    margin: auto; 
    /* make room for the navbar */
    padding-top: 100px;
}  
#quote-container{
    text-align: center;
    font-size: 25px;
    color: var(--main-platinum);
    height: 200px;
}
#quote-container #quote{height: 80px;}

#quote-container button {
    font-size: 15px;
    background-color:var(--main-grey);
    color: var(--main-platinum);
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}


/* Google search */
/* #GoogleSearch form{margin: auto;}
#GoogleSearch form input{font-size: 20px; padding: 5px 10px 5px 10px;}
#GoogleSearch form #searchbox{
    width:350px; background-color: var(--main-greyblue);
} */


